@charset "UTF-8";

//
// == 單行欄位樣式：label + input + btn
// <dl class="field"><dt></dt><dd></dd>
// -------------------------------------------------
.field {
    @extend .mb-0;

    @include clearfix;

    & ~ & { margin-top: rem($fields-spacer); }

    // label
    dt {
        @extend .form-label, .text-right;
        font-weight: normal;
    }
    dd {
        padding: $input-pd;
        min-height: $input-height;
    }

    > [class*="col-"] {
        &:first-child { padding-left: 0; }
        &:last-child  { padding-right: 0; }
    }

    sup {
        @extend .text-danger;
        cursor: help;
    }
}