@charset "UTF-8";

// == 開關式 checkbox
// 使用方法
// <label class="switch">
//   <input type="checkbox">
//   <div class="slider round"></div>
// </label>
.slider {
    cursor: pointer;
    background-color: $input-border-color;
    border-radius: $checkbox-size;

    @include absolute(top 0 left 0 right 0 bottom 0);
    @include transition(.4s);

    @include el(before) {
        @include absolute(left 2px bottom 2px);
        @include transition(.3s);
        height: $checkbox-size;
        width: $checkbox-size;
        background-color: white;
        border-radius: 50%;
    }
}
.switch {
    position: relative;
    display: inline-block;
    width: ($checkbox-size + 4)*1.7;
    height: $checkbox-size + 4;

    input {
        display: none;

        &:checked + .slider {
            background: $choice-box-color;
            box-shadow: inset 1px 1px 1px darken($choice-box-color,12);
            &::before {
                @include transform(translateX($checkbox-size*0.84));
            }
        }
        &:focus + .slider {
            box-shadow: 0 0 1px $choice-box-color;
        }
    }
}
