/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env


# 自定忽略
/public/Scripts/build/app/*.js
/public/Scripts/src/*.js
/public/Scripts/src/**/*.js
/public/Scripts/comm/*.js
/public/Scripts/**/*.map

