@charset "UTF-8";


// 插入偽類
@mixin el($pseudo, $display: block, $content: '') {
    $selector: if($pseudo == 'all', '&::before,&::after', '&::#{$pseudo}');

    #{$selector} {
        // content 是否要有值
        @if $content == '' and $display == block {
            // @include mixin-dryer($dryer...) {
                content: '';
                display: block;
            // }
        } @else {
            content: $content;
            display: if($display, $display, null);
        }

        @content;
    }
}