@charset "UTF-8";

//
// src https://github.com/bitmanic/rem/blob/master/stylesheets/_rem.scss
// 使用方法
// @include rem('padding', 0 32px);
//
@mixin rem($property, $values) {

    #{$property}: $values;

    // If there is only one (numeric) value, return the property/value line for it.
    @if type-of($values) == "number" {
        #{$property}: rem($values);
    }
    @else {
        // Create an empty list that we can dump values into
        $rem-values: ();

        @each $value in $values {
            // If the value is zero or not a number, return it
            @if $value == 0 or type-of( $value ) != "number" {
                $rem-values: append($rem-values, $value);
            }
            @else {
                $rem-values: append($rem-values, rem($value));
            }
        }
        // Return the property and its list of converted values
        #{$property}: $rem-values;
    }
}