@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block; }

progress {
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active, a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

figure {
  margin: 1em 40px; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

button, input, select, textarea {
  font: inherit;
  margin: 0; }

optgroup {
  font-weight: bold; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

/*      base
-----------------------------------------------------------------------*/
@-moz-viewport , @-ms-viewport, @-o-viewport, @-webkit-viewport, @viewport {
  width: device-width; }

[tabindex="-1"]:focus {
  outline: none !important; }

html, body {
  text-align: center;
  height: 100%; }

body {
  background: #fff;
  color: #333;
  font: 16px/1.5 \5FAE\8EDF\6B63\9ED1\9AD4, "微軟正黑體", "Microsoft JhengHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: .01em; }

img {
  vertical-align: middle; }

a {
  color: #111;
  text-decoration: none;
  -webkit-transition: color 0.35s, background 0.3s;
  transition: color 0.35s, background 0.3s; }
  a:hover, a:active {
    color: #868e96;
    outline-width: 0; }

h1 {
  margin-top: 0; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.75rem;
  font-weight: 500;
  line-height: 1.1; }

h1 {
  font-size: 48px;
  font-size: 3rem; }

h2 {
  font-size: 32px;
  font-size: 2rem; }

h3 {
  font-size: 28px;
  font-size: 1.75rem; }

h4 {
  font-size: 24px;
  font-size: 1.5rem; }

h5 {
  font-size: 18px;
  font-size: 1.125rem; }

h6 {
  font-size: 17px;
  font-size: 1.0625rem; }

b, strong {
  font-weight: bold; }

small {
  font-size: 80%;
  font-weight: normal; }

mark {
  background-color: #fce9b5;
  padding: .2em; }

hr {
  margin: 2rem 0;
  border: 0;
  border-top: 1px solid #ced4da; }

p {
  margin: 0; }
  p + p {
    margin-top: 0.25rem; }

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #ced4da; }

ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 0; }
  ol ol, ol ul, ol dl, ul ol, ul ul, ul dl, dl ol, dl ul, dl dl {
    font-size: 90%;
    margin-bottom: 0; }

dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

.list-inline, .list-unstyled {
  list-style: none;
  padding-left: 0; }

.list-inline > li {
  display: inline-block; }
  .list-inline > li:not(:last-child) {
    margin-right: 5px; }

input[type='email'], input[type='number'], input[type='password'], input[type='search'], input[type='tel'], input[type='text'], input[type='url'], input[type='date'],
input:not([type]),
textarea, select,
.form-element {
  width: 100%;
  padding: 0 4px;
  line-height: 28px;
  min-height: 28px;
  color: #343a40;
  background-color: #fff;
  font-size: 0.875rem;
  border: 1px solid #ced4da;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; }
  input[type='email']:disabled, input[type='email'][readonly], input[type='number']:disabled, input[type='number'][readonly], input[type='password']:disabled, input[type='password'][readonly], input[type='search']:disabled, input[type='search'][readonly], input[type='tel']:disabled, input[type='tel'][readonly], input[type='text']:disabled, input[type='text'][readonly], input[type='url']:disabled, input[type='url'][readonly], input[type='date']:disabled, input[type='date'][readonly],
  input:not([type]):disabled,
  input:not([type])[readonly],
  textarea:disabled,
  textarea[readonly], select:disabled, select[readonly],
  .form-element:disabled,
  .form-element[readonly] {
    background-color: #ced4da;
    opacity: 1; }
  input[type='email']:disabled, input[type='number']:disabled, input[type='password']:disabled, input[type='search']:disabled, input[type='tel']:disabled, input[type='text']:disabled, input[type='url']:disabled, input[type='date']:disabled,
  input:not([type]):disabled,
  textarea:disabled, select:disabled,
  .form-element:disabled {
    cursor: not-allowed; }
  input[type='email']:focus, input[type='number']:focus, input[type='password']:focus, input[type='search']:focus, input[type='tel']:focus, input[type='text']:focus, input[type='url']:focus, input[type='date']:focus,
  input:not([type]):focus,
  textarea:focus, select:focus,
  .form-element:focus {
    border-color: #F7BE21;
    outline: 0; }
  .form-inline input[type='email'], input[type='email'].inline, .form-inline input[type='number'], input[type='number'].inline, .form-inline input[type='password'], input[type='password'].inline, .form-inline input[type='search'], input[type='search'].inline, .form-inline input[type='tel'], input[type='tel'].inline, .form-inline input[type='text'], input[type='text'].inline, .form-inline input[type='url'], input[type='url'].inline, .form-inline input[type='date'], input[type='date'].inline, .form-inline
  input:not([type]),
  input:not([type]).inline, .form-inline
  textarea,
  textarea.inline, .form-inline select, select.inline, .form-inline
  .form-element,
  .form-element.inline {
    display: inline;
    width: auto; }
    .form-inline input[type='email']:not(:last-child), input[type='email'].inline:not(:last-child), .form-inline input[type='number']:not(:last-child), input[type='number'].inline:not(:last-child), .form-inline input[type='password']:not(:last-child), input[type='password'].inline:not(:last-child), .form-inline input[type='search']:not(:last-child), input[type='search'].inline:not(:last-child), .form-inline input[type='tel']:not(:last-child), input[type='tel'].inline:not(:last-child), .form-inline input[type='text']:not(:last-child), input[type='text'].inline:not(:last-child), .form-inline input[type='url']:not(:last-child), input[type='url'].inline:not(:last-child), .form-inline input[type='date']:not(:last-child), input[type='date'].inline:not(:last-child), .form-inline
    input:not([type]):not(:last-child),
    input:not([type]).inline:not(:last-child), .form-inline
    textarea:not(:last-child),
    textarea.inline:not(:last-child), .form-inline select:not(:last-child), select.inline:not(:last-child), .form-inline
    .form-element:not(:last-child),
    .form-element.inline:not(:last-child) {
      margin-right: 0.3rem; }
  input[type='email']::-ms-expand, input[type='number']::-ms-expand, input[type='password']::-ms-expand, input[type='search']::-ms-expand, input[type='tel']::-ms-expand, input[type='text']::-ms-expand, input[type='url']::-ms-expand, input[type='date']::-ms-expand,
  input:not([type])::-ms-expand,
  textarea::-ms-expand, select::-ms-expand,
  .form-element::-ms-expand {
    background-color: transparent;
    border: 0; }
  input[type='email']::placeholder, input[type='number']::placeholder, input[type='password']::placeholder, input[type='search']::placeholder, input[type='tel']::placeholder, input[type='text']::placeholder, input[type='url']::placeholder, input[type='date']::placeholder,
  input:not([type])::placeholder,
  textarea::placeholder, select::placeholder,
  .form-element::placeholder {
    color: #ced4da;
    opacity: 1; }

button, [role="button"] {
  border: none;
  background: none;
  cursor: pointer; }
  button:active, button:focus, [role="button"]:active, [role="button"]:focus {
    outline: 0; }

select {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 14" width="32" height="14"><path fill="%23ced4da" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>');
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 3.0rem !important; }
  select:focus {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 14" width="32" height="14"><path fill="%23F7BE21" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>'); }

input[type='checkbox'],
input[type='radio'] {
  display: inline; }

.form-label {
  display: inline-block;
  font-weight: normal;
  line-height: 28px; }

legend {
  width: 100%; }

legend,
.form-label.block {
  margin-bottom: 0.5rem; }

fieldset {
  border-width: 0;
  padding: 0;
  min-width: 0;
  margin: 0; }

body:not(:-moz-handler-blocked) fieldset {
  display: table-cell; }

textarea {
  resize: vertical;
  min-height: 6.5rem; }

output {
  display: inline-block; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type='date'],
  input[type='time'],
  input[type='datetime-local'],
  input[type='month'] {
    line-height: 28px; } }

/*      layout
-----------------------------------------------------------------------*/
.wrap::after, #main::after, .clearfix::after {
  content: "";
  display: table;
  clear: both; }

@media (max-width: 63.9375em) {
  .wrap, #main {
    padding-left: 1.5rem;
    padding-right: 1.5rem; } }

.wrapper {
  min-height: 100%;
  padding-bottom: 100px; }

.site-title {
  letter-spacing: 1px; }

#footer {
  min-height: 70px;
  margin-top: -70px;
  z-index: 2;
  margin-right: 5px;
  font-size: 0.8125em;
  letter-spacing: 1px;
  border-top: 1px solid #e9ecef;
  margin-left: 5px; }

#main {
  z-index: 1;
  padding-top: 5%; }

.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  user-select: none;
  background: #111;
  color: #fff;
  font-size: 0.9375rem;
  line-height: 28px;
  padding: 0.3rem 0.8rem;
  border-radius: 3px;
  -webkit-transition: background .35s, color .5s;
  transition: background .35s, color .5s;
  letter-spacing: 1px; }
  .btn:hover, .btn:active, .btn:focus, .btn.active {
    background: #020202;
    color: #fff; }
  .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    opacity: .55;
    background: #f8f9fa; }
  .btn.success {
    background: #88C200; }
    .btn.success:hover, .btn.success:active, .btn.success.active {
      background: #a5eb00; }
  .btn.info {
    background: #00A7B0; }
    .btn.info:hover, .btn.info:active, .btn.info.active {
      background: #00ced9; }
  .btn.warning {
    background: #F7BE21; }
    .btn.warning:hover, .btn.warning:active, .btn.warning.active {
      background: #f8ca48; }
  .btn.danger {
    background: #E96520; }
    .btn.danger:hover, .btn.danger:active, .btn.danger.active {
      background: #ed7f45; }
  .btn.muted {
    background: #ced4da; }
    .btn.muted:hover, .btn.muted:active, .btn.muted.active {
      background: #e5e8ec; }
  .btn.white:hover, .btn.white:active, .btn.white.active {
    background: #252525; }

.loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.9);
  z-index: 999; }
  .loading .loader, .loading p {
    position: absolute; }
  .loading .loader {
    width: 40px;
    height: 40px;
    border-width: 3px;
    border-color: #111 #111 #111 #444444;
    left: 50%;
    top: 40%;
    margin-left: -20px;
    margin-top: -20px; }
  .loading p {
    padding: 0.8rem 0 0 0.5rem;
    font-size: 1.25em;
    font-weight: bold;
    left: 50%;
    top: calc(40% + 20px);
    transform: translateX(-50%); }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.inline {
  display: inline; }

.clear {
  clear: both; }

[hidden], .hidden {
  display: none; }

.circle {
  border-radius: 50%; }

.img-center {
  display: block;
  margin: auto; }

.center, form, form .title, form main {
  margin-right: auto;
  margin-left: auto; }

.m-0 {
  margin: 0; }

.mt-0 {
  margin-top: 0; }

.mr-0 {
  margin-right: 0; }

.mb-0, .site-title {
  margin-bottom: 0; }

.ml-0 {
  margin-left: 0; }

.mx-0 {
  margin-right: 0;
  margin-left: 0; }

.my-0 {
  margin-top: 0;
  margin-bottom: 0; }

.m-2 {
  margin: 0.125rem; }

.mt-2 {
  margin-top: 0.125rem; }

.mr-2 {
  margin-right: 0.125rem; }

.mb-2 {
  margin-bottom: 0.125rem; }

.ml-2 {
  margin-left: 0.125rem; }

.mx-2 {
  margin-right: 0.125rem;
  margin-left: 0.125rem; }

.my-2 {
  margin-top: 0.125rem;
  margin-bottom: 0.125rem; }

.m-4 {
  margin: 0.25rem; }

.mt-4 {
  margin-top: 0.25rem; }

.mr-4 {
  margin-right: 0.25rem; }

.mb-4, label {
  margin-bottom: 0.25rem; }

.ml-4 {
  margin-left: 0.25rem; }

.mx-4 {
  margin-right: 0.25rem;
  margin-left: 0.25rem; }

.my-4 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem; }

.m-8 {
  margin: 0.5rem; }

.mt-8, .sub-copyright {
  margin-top: 0.5rem; }

.mr-8 {
  margin-right: 0.5rem; }

.mb-8 {
  margin-bottom: 0.5rem; }

.ml-8, .title small {
  margin-left: 0.5rem; }

.mx-8 {
  margin-right: 0.5rem;
  margin-left: 0.5rem; }

.my-8 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.m-12 {
  margin: 0.75rem; }

.mt-12 {
  margin-top: 0.75rem; }

.mr-12 {
  margin-right: 0.75rem; }

.mb-12 {
  margin-bottom: 0.75rem; }

.ml-12 {
  margin-left: 0.75rem; }

.mx-12 {
  margin-right: 0.75rem;
  margin-left: 0.75rem; }

.my-12 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem; }

.m-16 {
  margin: 1rem; }

.mt-16 {
  margin-top: 1rem; }

.mr-16 {
  margin-right: 1rem; }

.mb-16 {
  margin-bottom: 1rem; }

.ml-16 {
  margin-left: 1rem; }

.mx-16 {
  margin-right: 1rem;
  margin-left: 1rem; }

.my-16 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.m-24 {
  margin: 1.5rem; }

.mt-24 {
  margin-top: 1.5rem; }

.mr-24 {
  margin-right: 1.5rem; }

.mb-24, .title {
  margin-bottom: 1.5rem; }

.ml-24 {
  margin-left: 1.5rem; }

.mx-24 {
  margin-right: 1.5rem;
  margin-left: 1.5rem; }

.my-24 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.m-32 {
  margin: 2rem; }

.mt-32, .action-bar {
  margin-top: 2rem; }

.mr-32 {
  margin-right: 2rem; }

.mb-32 {
  margin-bottom: 2rem; }

.ml-32 {
  margin-left: 2rem; }

.mx-32 {
  margin-right: 2rem;
  margin-left: 2rem; }

.my-32 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.m-48 {
  margin: 3rem; }

.mt-48 {
  margin-top: 3rem; }

.mr-48 {
  margin-right: 3rem; }

.mb-48 {
  margin-bottom: 3rem; }

.ml-48 {
  margin-left: 3rem; }

.mx-48 {
  margin-right: 3rem;
  margin-left: 3rem; }

.my-48 {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.m-64 {
  margin: 4rem; }

.mt-64 {
  margin-top: 4rem; }

.mr-64 {
  margin-right: 4rem; }

.mb-64 {
  margin-bottom: 4rem; }

.ml-64 {
  margin-left: 4rem; }

.mx-64 {
  margin-right: 4rem;
  margin-left: 4rem; }

.my-64 {
  margin-top: 4rem;
  margin-bottom: 4rem; }

.p-0 {
  padding: 0; }

.pt-0 {
  padding-top: 0; }

.pr-0, input[type='number'] {
  padding-right: 0; }

.pb-0 {
  padding-bottom: 0; }

.pl-0 {
  padding-left: 0; }

.px-0 {
  padding-right: 0;
  padding-left: 0; }

.py-0, .btn.sm {
  padding-top: 0;
  padding-bottom: 0; }

.p-2 {
  padding: 0.125rem; }

.pt-2 {
  padding-top: 0.125rem; }

.pr-2 {
  padding-right: 0.125rem; }

.pb-2 {
  padding-bottom: 0.125rem; }

.pl-2 {
  padding-left: 0.125rem; }

.px-2 {
  padding-right: 0.125rem;
  padding-left: 0.125rem; }

.py-2 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem; }

.p-4 {
  padding: 0.25rem; }

.pt-4 {
  padding-top: 0.25rem; }

.pr-4 {
  padding-right: 0.25rem; }

.pb-4 {
  padding-bottom: 0.25rem; }

.pl-4 {
  padding-left: 0.25rem; }

.px-4 {
  padding-right: 0.25rem;
  padding-left: 0.25rem; }

.py-4 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem; }

.p-8 {
  padding: 0.5rem; }

.pt-8, #footer {
  padding-top: 0.5rem; }

.pr-8 {
  padding-right: 0.5rem; }

.pb-8 {
  padding-bottom: 0.5rem; }

.pl-8 {
  padding-left: 0.5rem; }

.px-8, .btn.sm {
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.py-8 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.p-12 {
  padding: 0.75rem; }

.pt-12, form, .action-bar {
  padding-top: 0.75rem; }

.pr-12 {
  padding-right: 0.75rem; }

.pb-12 {
  padding-bottom: 0.75rem; }

.pl-12 {
  padding-left: 0.75rem; }

.px-12 {
  padding-right: 0.75rem;
  padding-left: 0.75rem; }

.py-12, .btn.lg {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem; }

.p-16 {
  padding: 1rem; }

.pt-16 {
  padding-top: 1rem; }

.pr-16 {
  padding-right: 1rem; }

.pb-16, .action-bar {
  padding-bottom: 1rem; }

.pl-16 {
  padding-left: 1rem; }

.px-16 {
  padding-right: 1rem;
  padding-left: 1rem; }

.py-16 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.p-24 {
  padding: 1.5rem; }

.pt-24 {
  padding-top: 1.5rem; }

.pr-24 {
  padding-right: 1.5rem; }

.pb-24 {
  padding-bottom: 1.5rem; }

.pl-24 {
  padding-left: 1.5rem; }

.px-24 {
  padding-right: 1.5rem;
  padding-left: 1.5rem; }

.py-24 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.p-32 {
  padding: 2rem; }

.pt-32 {
  padding-top: 2rem; }

.pr-32 {
  padding-right: 2rem; }

.pb-32 {
  padding-bottom: 2rem; }

.pl-32 {
  padding-left: 2rem; }

.px-32, .btn.lg {
  padding-right: 2rem;
  padding-left: 2rem; }

.py-32 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.p-48 {
  padding: 3rem; }

.pt-48 {
  padding-top: 3rem; }

.pr-48 {
  padding-right: 3rem; }

.pb-48 {
  padding-bottom: 3rem; }

.pl-48 {
  padding-left: 3rem; }

.px-48 {
  padding-right: 3rem;
  padding-left: 3rem; }

.py-48 {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.p-64 {
  padding: 4rem; }

.pt-64 {
  padding-top: 4rem; }

.pr-64 {
  padding-right: 4rem; }

.pb-64 {
  padding-bottom: 4rem; }

.pl-64 {
  padding-left: 4rem; }

.px-64 {
  padding-right: 4rem;
  padding-left: 4rem; }

.py-64 {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.align-top {
  vertical-align: top; }

.align-middle {
  vertical-align: middle; }

.align-bottom {
  vertical-align: bottom; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.font-sp, .sub-copyright {
  font-family: "Encode Sans Condensed", sans-serif; }

.font-tiny {
  font-size: 12;
  font-size: 0.75rem; }

.font-sm, .btn.sm {
  font-size: 13;
  font-size: 0.8125rem; }

.font-md, label {
  font-size: 15;
  font-size: 0.9375rem; }

.font-lg, .btn.lg, .title {
  font-size: 20;
  font-size: 1.25rem; }

.font-xl {
  font-size: 24;
  font-size: 1.5rem; }

.font-xxl, .site-title {
  font-size: 32;
  font-size: 2rem; }

.font-xxxl {
  font-size: 48;
  font-size: 3rem; }

.font-jumbo {
  font-size: 64;
  font-size: 4rem; }

.text-white, .btn.white:hover, .btn.white:active, .btn.white.active {
  color: #fff; }

.bg-white, .btn.white {
  background-color: #fff; }

.text-primary, .btn.white, .title {
  color: #111 !important; }

.bg-primary, .action-bar {
  background: #111 !important; }

.hover-primary {
  color: #111; }
  .hover-primary:hover, .hover-primary:active {
    color: black; }

.text-secondary, .sub-copyright {
  color: #868e96 !important; }

.bg-secondary {
  background: #868e96 !important; }

.hover-secondary {
  color: #868e96; }
  .hover-secondary:hover, .hover-secondary:active {
    color: #60686f; }

.text-success {
  color: #88C200 !important; }

.bg-success {
  background: #88C200 !important; }

.hover-success {
  color: #88C200; }
  .hover-success:hover, .hover-success:active {
    color: #527600; }

.text-info {
  color: #00A7B0 !important; }

.bg-info {
  background: #00A7B0 !important; }

.hover-info {
  color: #00A7B0; }
  .hover-info:hover, .hover-info:active {
    color: #005e64; }

.text-warning {
  color: #F7BE21 !important; }

.bg-warning {
  background: #F7BE21 !important; }

.hover-warning {
  color: #F7BE21; }
  .hover-warning:hover, .hover-warning:active {
    color: #c49207; }

.text-danger, .site-title {
  color: #E96520 !important; }

.bg-danger {
  background: #E96520 !important; }

.hover-danger {
  color: #E96520; }
  .hover-danger:hover, .hover-danger:active {
    color: #ac4611; }

.text-light {
  color: #f8f9fa !important; }

.bg-light, form {
  background: #f8f9fa !important; }

.hover-light {
  color: #f8f9fa; }
  .hover-light:hover, .hover-light:active {
    color: #cbd3da; }

.text-dark, label {
  color: #343a40 !important; }

.bg-dark {
  background: #343a40 !important; }

.hover-dark {
  color: #343a40; }
  .hover-dark:hover, .hover-dark:active {
    color: #121416; }

.text-muted {
  color: #ced4da !important; }

.bg-muted {
  background: #ced4da !important; }

.hover-muted {
  color: #ced4da; }
  .hover-muted:hover, .hover-muted:active {
    color: #a2aeb9; }

[class*="hover-"].disabled, [class*="hover-"][disabled] {
  color: #f8f9fa; }

.w-15 {
  width: 15%; }

.w-20 {
  width: 20%; }

.w-25 {
  width: 25%; }

.w-75 {
  width: 75%; }

.w-100 {
  width: 100%; }

.w-auto {
  width: auto; }

.underline, .title {
  border-bottom: 1px solid #dae0e5; }

.title {
  line-height: 2; }
  .title small {
    color: #abb5c0; }

.word-keep {
  word-break: keep-all; }

form {
  border: 1px solid #ced4da;
  box-shadow: 0 0 10px #ced4da;
  max-width: 450px;
  margin-top: 40px; }
  form .title, form main {
    width: 93%; }

.action-bar {
  border-top: 1px solid #040404; }
