@charset "UTF-8";

// == config
// ----------------------------------------------------------------------
$img-path:                '../images' !default;
$font-path:               '../font' !default;


// ==  spacing
// ------------------------------------------------------------
$spacer:                  1rem !default;
$spacing: (
    0:    0,
    2:    $spacer/8,
    4:    $spacer/4,
    8:    $spacer/2,
    12:   $spacer*0.75,
    16:   $spacer,
    24:   $spacer*1.5,
    32:   $spacer*2,
    48:   $spacer*3,
    64:   $spacer*4
) !default;

@function spacing($value) {
    @return map-get($spacing, $value);
}

// This variable affects the '.w-*' classes. ref: util
$sizes: (
    15: 15%,
    20: 20%,
    25: 25%,
    75: 75%,
    100: 100%
) !default;


// == base
// ------------------------------------------------------------
//
// basic
$body-bg:                    #fff !default;
$body-color:                 #333 !default;

$font-family-base:           \5FAE\8EDF\6B63\9ED1\9AD4,"微軟正黑體","Microsoft JhengHei",'Helvetica Neue',Helvetica,Arial,sans-serif !default;
$font-family-sp:             'Encode Sans Condensed', sans-serif !default;

$font-size-base:             16px !default;                    // 1rem
$line-height:                1.5 !default;

//
// link
$link-color:                 color("primary") !default;                    // 連結文字色
$link-decoration:            none !default;                                // 連結底線樣式
$link-hover-color:           color("secondary") !default;       // 移過後顏色
$link-hover-decoration:      false !default;                               // 移過後底線樣式
$link-transition:            color .35s, background .3s !default;          // 滑鼠移過動態特效

//
// type
$font-size-h1:               $font-size-base * 3 !default;       // 48px old-2.5
$font-size-h2:               $font-size-base * 2 !default;       // 32px old-2
$font-size-h3:               $font-size-base * 1.75 !default;    // 28px old-1.75
$font-size-h4:               $font-size-base * 1.5 !default;     // 24px old-1.5
$font-size-h5:               $font-size-base * 1.125 !default;   // 18px old-1.25
$font-size-h6:               $font-size-base * 1.0625 !default;  // 17px old-1

$headings-color:             false !default;
$headings-font-family:       false !default;
$headings-font-weight:       500 !default;
$headings-line-height:       1.1 !default;
$headings-letter-spacing:    false !default;
$headings-margin-bottom:     $spacer*0.75 !default;

$p-spacer:                   spacing(4) !default;  // $spacer*0.375
$abbr-border-color:          color("muted") !default;
$hr-border:                  1px solid $abbr-border-color !default;

//
// common
$gutter:                     16px !default;
$border-radius:              3px !default;
$prefixes:                   webkit !default;                  // all: webkit moz o ms
$cursor-disabled:            not-allowed;                      // 表單元素(停用)上的滑鼠樣式

//
// table
// 共用樣式
$table-borderY-has:          true !default;
$table-border-color:         #EDEBE8 !default;
$table-pd:                   5px 8px !default;

// 滑鼠移過變色
$table-bg-hover:             #fffFD7 !default;

// 斑馬紋條列式表格
$table-bg-striped:           color("light") !default;
$table-bg-active:            false !default;
$table-striped-list:         'even' !default;

// RWD時，表格出現卷軸
$table-rwd:                  true !default;

//
// form
$cursor-disabled:                not-allowed !default;  // 表單元素(停用)上的滑鼠樣式
$input-font-size:                14px !default;
$input-height:                   $input-font-size*2 !default;
$input-pd:                       0 4px !default;

$input-bg:                       #fff !default;
$input-color:                    color("dark") !default;
$input-border-color:             color("muted") !default;
$input-border:                   1px solid $input-border-color !default;
$input-focus-color:              color("warning") !default;
$input-radius:                   false !default; // 5px
$input-shadow:                   inset 0 1px 1px rgba(0,0,0,.075) !default;
$input-transition:               border-color ease-in-out .15s, box-shadow ease-in-out .15s !default;
$input-placeholder-color:        color("muted");

// select
$select-caret-color:             color("muted") !default;
$select-caret-checked-color:     color("warning") !default;

// checkbox style
$choice-box-color:               color(warning) !default;
$checkbox-height:                $input-height - 5 !default; // 同input算法
$checkbox-size:                  21px !default;              // if($input-height, $input-height, $checkbox-height)
$checkbox-icon-size:             $checkbox-size*.7 !default;
$checkbox-radius:                $input-radius !default;


// == layout
// ----------------------------------------------------------------------
$min-width:             1008px;     // 網頁最小尺寸
$max-width:             1400px;     // 網頁最寬尺寸: .wrap

// wrapper
$wrapper-bg:            false !default;
$wrapper-b-spacing:     30px !default;
$container-x-spacing:   24px !default;
$footBeBottom:          true !default; // 頁腳是否置底 true / false

// header
$header-height:         46px !default;
$header-bg:             color("primary") !default;

// footer
$footer-height:         70px !default;
$footer-bg:             false !default;
$footer-color:          false !default; //#63889D;

// sidebar
$sidebar-width:         210px;
$sidebar-title-height:  42px;
$sidebar-theme-color:   darken(color('light'), 2.5); //#f2f2f2

//
// z-index
$z-index: (
    header:             6,
    main:               1,
    footer:             2,
    sidebar:            4,
    logo:               10,
    menu:               20,
    goTop:              99,
    overlay:            999
);


// ==  modules
// ------------------------------------------------------------
//
// nav
$navbar-height:               $header-height !default;

$nav-name:                    '.nav-link' !default;
$nav-height:                  'full' !default;   // 'full' | 18px | flase
$nav-font-size:               17px !default;
$nav-color:                   #fff !default;
$nav-bg:                      lighten(color("primary"),16) !default;

$nav-group: (
    (home, color("warning")),
    (logout, color("success"))
) !default;

//
// btn
// 下為基本樣式(屬性固定)
// height = btn-font-size(18) * btn-line-height(1.2) + (btn-pd-y * 2) = 34.56
$btn-font-size:                15px !default;
$btn-line-height:              if($input-height, $input-height, $line-height) !default;
$btn-pd:                       $spacer*0.3 $spacer*0.8 !default; // 4px 16px

// color
$btn-color:                    #fff !default;
$btn-bg:                       color("primary") !default;
$btn-hover-color:              #fff !default;
$btn-hover-bg:                 darken($btn-bg, 6) !default;
$btn-disabled-bg:              color("light") !default;

$btn-theme: (
    success:      color("success"),
    info:         color("info"),
    warning:      color("warning"),
    danger:       color("danger"),
    muted:        color("muted")
) !default;

// other
$btn-border-radius:             $border-radius !default;
$btn-effect:                    'background .35s, color .5s' !default;

//
// field
$fields-spacer:                  $spacer*.75 !default;

//
// input-group
$input-group-height:             $input-height !default;
$input-group-radius:             $input-radius !default; // ($input-group-height / 2)
$input-group-border:             1px solid $input-border-color !default;
$input-group-margin:             false !default;

$input-group-addon-width:        1% !default; // $input-group-height
$input-group-addon-color:        color() !default;
$input-group-addon-bg:           lighten($input-border-color,5) !default; // $input-border-color

//
// label
$label-color:                  color('light') !default;
$label-bg:                     desaturate(lighten(color(),10),25) !default;
$label-border-radius:          $border-radius !default;
$label-pd:                     3px 6px!default;
$label-mg:                     0 5px!default;

$label-theme: (
    success: color('success'),
    info:    color('info'),
    warning: color('warning'),
    danger:  color('danger')
) !default;

//
// alerts
$alerts: (
    success:                   desaturate(color("success"), 5) $pale-green,
    info:                      desaturate(color("info"), 5) $pale-blue,
    warning:                   desaturate(color("warning"), 5) $pale-yellow,
    danger:                    desaturate(color("danger"), 5) $pale-red
) !default;

$alert-round:                  false !default;
$alert-padding:                6px 8px !default;

//
// list-group
$list-group-bg:                #fff !default;
$list-group-border-color:      lighten(color("muted"), 10) !default;
$list-group-border-width:      1px !default;

$list-group-link-color:        $link-color !default;
$list-group-link-hover-color:  $link-hover-color !default;
$list-group-hover-bg:          lighten(color("muted"), 10) !default;

//
// modal
$modal-top:                    80px !default; // 離頂端距離

$modal-close-size:             50px !default;
$modal-close-color:            #fff !default;
$modal-close-hover-color:      #EDE363 !default;
