@charset "UTF-8";


// import
// ------------------------------------------------------------
@import "_client/variables";

@import "core/function";
@import "core/variables";
@import "core/mixins";

@import "_client/base/basic";
@import "_client/base/type";
@import "_client/util";

body { padding: 10px 15px; height: auto; }
h1,h2,h3,h4,h5,h6,p,blockquote,
ul,ol,li,dl,dt,dd { text-align: left; }
ul, ol { @extend .ml-24; }

img {
    max-width: 100% !important;
}