@charset "UTF-8";

$isLogin:              true;


// import
// ------------------------------------------------------------
// 後台用變數
@import "_admin/color";
@import "_admin/variables";

@import "core/function";
@import "core/variables";
@import "core/mixins";

// 由此 output css
@import "vendor/normalize";  // 重置樣式

@import "_admin/base/basic";
@import "_admin/base/link";
@import "_admin/base/type";
@import "_admin/base/form";

@import "_admin/layout";
@import "_admin/modules/btn";
@import "_admin/modules/loader";

@import "_admin/util"; // 建議放置在最後一個


// main
// ------------------------------------------------------------
.sub-copyright {
    @extend .font-sp, .text-secondary, .mt-8;
}
form {
    @extend .center, .pt-12, .bg-light;

    border: 1px solid color("muted");
    box-shadow: 0 0 10px color("muted");
    max-width: 450px;
    margin-top: 40px;

    .title, main {
        @extend .center;
        width: 93%;
    }
}

label {
    @extend .mb-4, .font-md, .text-dark;
}

.action-bar {
    @extend .mt-32, .pt-12, .pb-16, .bg-primary;
    border-top: 1px solid darken(color('primary'),5);
}