@charset "UTF-8";

/*      base
-----------------------------------------------------------------------*/
@-moz-viewport, @-ms-viewport, @-o-viewport, @-webkit-viewport, @viewport { width: device-width; }

// Credit: https://github.com/suitcss/base
[tabindex="-1"]:focus {
    outline: none !important;
}

html, body {
    text-align: center;
    height: 100%;
}

body {
    background: $body-bg;
    color: $body-color;
    font: #{$font-size-base}/#{$line-height} $font-family-base;
    letter-spacing: .01em;
}

img {
    vertical-align: middle;
}

a, area, button, [role="button"], input, label, select, summary, textarea {
    touch-action: manipulation;
}