@charset "UTF-8";


// == input群組
// -------------------------------------------------
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    width: 100%;

    @if $input-group-margin   { margin: $input-group-margin; }

    input {
        width: 100%;

        @if $input-group-height     { height: $input-group-height; }
        @if not $input-group-border { border: none; }
        @if not $input-group-radius { border-radius: 0; }
    }
}

.input-group input,
.input-group-addon,
.input-group-btn {
    display: table-cell;
    vertical-align: top;

    @if $input-group-radius {
        &:first-child {
            border-radius: $input-group-radius 0 0 $input-group-radius;
        }
        &:last-child {
            border-radius: 0 $input-group-radius $input-group-radius 0;
        }
        &:only-child {
            border-radius: $input-group-radius;
        }
    }
    @if $input-group-border   {
        border: $input-group-border;
        &:first-child { border-right: none; }
        &:last-child { border-left: none; }
    }
}

.input-group-addon,
.input-group-btn {
    white-space: nowrap;

    @if $input-group-addon-width {
        width: $input-group-addon-width;
    }
    @if $input-group-height {
        height: $input-group-height !important;
        @if $input-group-border {
            line-height: $input-group-height - 2;
        } @else {
            line-height: $input-group-height;
        }
    }
}

.input-group-addon {
    padding: 0 $spacer/2;

    @if $input-group-addon-color  { color: $input-group-addon-color; }
    @if $input-group-addon-bg     { background: $input-group-addon-bg; }
}

.input-group-btn {
    overflow: hidden;

    @if $input-group-radius { border-radius: $input-group-radius; }

    > .btn {
        padding-top: 0;
        padding-bottom: 0;
        height: 100%;
        line-height: $input-group-height;

        @if $input-group-radius { border-radius: 0; }
    }
}

.radio-group, .checkbox-group {
    display: inline-block;
    &:not(:last-of-type) { margin-right: $spacer/2; }

    &-stacked {
        display: block;
        &:not(:last-of-type) { margin-bottom: $spacer/2;}
    }
}